<li class="chat_list">
  <%= link_to "#{room.name}", room_path(room), class:"family_button" %>
  <p class="chat_users">
    このチャットルームの参加者
    <% room.users_in_room.each do |user| %>
      /<%= user.name %> 
    <% end %>
  </p>
</li>
