<div class="close-modal">
  <i class="fa fa-2x fa-times"></i>
</div>

<div class="modal-content">
  <%= render 'searched_title', searched_word: @searched_word, searched_area: @searched_area %>
  <%= render 'searched_messages', messages: @messages %>
</div>
