<div class="searched-title">
  <div>
    （検索結果）
  </div>
  <div>
    検索ワード：<span id="keyword"><%= emojify(searched_word) %></span>
  </div>
  <div>
    検索対象のチャットルーム：<%= searched_area %>
  </div>
</div>