<ul class="family_lists">
  <% @rooms.each do |room| %>
    <li class="family_list">
      <%= link_to "#{room.name}", room_path(room), class:"family_button" %>
      <p>このチャットルームの参加者：</p>
      <% room.users_in_room.each do |user| %>
        <%= user.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "ルームを作成する", new_room_path, class: "btn btn-primary" %>
