<h2 class="chat_room_title">チャットルーム一覧</h2>

<%= link_to "チャットルームを作成する", new_room_path, remote: true,
                        class: "btn btn-primary chat_room_btn" %>
<div id="room-form"></div>

<ul class="room_lists" id="rooms">
  <%= render @rooms %>
</ul>
